/*
* @Author: yanh
* @Date:   2018-05-10 16:23:52
* @Last Modified by:   yanh
* @Last Modified time: 2018-05-10 18:21:14
*/

section h4{
	font-size: 1.6rem;
	font-weight: bold;
}
/**
 * 购票信息
 */
.list-group {
    padding-left: 0;
    margin-bottom: 0;
}
.withespace{
    padding: 1rem;
    padding-top: 2rem;
    background-color: #EEEEF5;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#ticinfo .ticketnumber{
	top: 4rem;
    right: 1rem;
}
#ticinfo .ticketnumber .addnum{

}
#ticinfo .ticketnumber .decreace{
	
}
#ticinfo .ticketnumber input{

}


/**
 * 用户信息
 */
#userinfo input{
	border: 0;
	outline:none;
}
#userinfo .panel-heading{
	border-bottom: 0;
	padding-left: 1rem;
    padding-top: .7rem;
	font-weight: bold;
	font-size: 1.5rem;
	background-color: transparent;
}
#userinfo .usericon{

}
#userinfo .valicode{
	font-size: 1px;
}
/**
 * 提交
 */
#otherinfo p{
	top: .8rem;
    right: .7rem;
}
#otherinfo>.withespace>div:last-child{
	margin-top: 1rem;
}
#otherinfo .sub{
	background-color: #15BCD3;
}
